.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: auto;
}

form {
  width: 20rem;
  margin: auto;
}

ul {
  width: 100%;
  margin: auto;
}

li {
  width: 80%;
  margin-right: auto;
  margin-left: 1rem;
}

.row {
  display: flex;
  width: 100%;
}

.column-full,
.column-half {
  width: 100%;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }

  form {
    width: 25rem;
    margin: auto;
  }

  ul {
    width: 100%;
    margin: auto;
  }

  li {
    width: 80%;
    margin: auto;
  }
}
