.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: auto;
  padding: 0 1.5rem;
}

form {
  display: block;
}

.row {
  display: flex;
}

.column-full,
.column-half {
  width: 100%;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.justify-between {
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full {
    width: 100%;
  }

  .column-half {
    width: 50%;
  }
}
