body {
  font-family: 'Kurale', sans-serif;
}

.main-background {
  background: rgba(101, 1, 10, 0.9);
}

.banner-image {
  width: 100%;
  height: 220px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url("/images/whiskey-banner.png");
}

.header-text {
  position: absolute;
  top: 15px;
  left: 0;
  padding-left: 10px;
  color: #d0b8b8;
  text-decoration: none;
}

.white-text {
  color: white;
}

.red-text {
  color: #fa7373;
}

.text-shadow {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.whiskey-box,
.distillery-box {
  width: 100%;
  height: 30px;
}

.date-box,
.age-box {
  width: 80%;
  height: 30px;
}

#smoky-profile,
#intensity-profile {
  width: 100%;
}

textarea {
  font-family: 'Rubik', sans-serif;
  font-size: 0.7rem;
  width: 100%;
  height: 100px;
  padding: 5px 5px;
  border-radius: 3px;
  resize: none;
}

.final-score-box {
  height: 30px;
}

.age-tag {
  position: relative;
  left: 40px;
}

.save-button {
  width: 50px;
  height: 30px;
  padding: 6px, 12px, 6px, 12px;
  margin: 15px 0;
  background-color: #fdce55;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

label {
  font-size: 0.7rem;
}

input {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 0.7rem;
  border-radius: 3px;
  border: 1px gray;
  padding: 5px;
}

::placeholder {
  color: lightgray;
}

.smokiness-bar,
.intensity-bar {
  position: relative;
  bottom: 17px;
}

.slider {
  width: 100%;
  height: 25px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input,
textarea,
label {
  line-height: 2;
  margin-bottom: 10px;
}

input,
textarea {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus,
textarea:focus {
  border: 2px solid #1d75dd;
}

li {
  padding: 10px;
  margin-bottom: 50px;
  list-style-type: none;
  border: 1px solid #afafaf;
  border-radius: 5px;
  background-color: rgba(54, 8, 8, 0.5);
  box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
  line-height: 1.5px;
  position: relative;
}

.distillery-panel {
  padding: 5px 10px;
}

.edit-button {
  padding: 10px 0;
  width: 35px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #fdce55;
  border-radius: 5px;
  color: #fdce55;
  background: none;
}

.logs-nav-item,
.explore-nav-item {
  position: relative;
  top: 13px;
  right: 30px;
  padding-right: 30px;
  color: #d0b8b8;
  text-decoration: none;
}

#search {
  margin-bottom: 50px;
}

.image-container {
  position: relative;
}

.distillery-image {
  padding: 0 10px;
  margin-top: 20px;
  position: relative;
  width: 450px;
  border-radius: 50px;
  cursor: pointer;
}

.image-overlay {
  position: absolute;

  /* top: 22rem;
  left: 0;
  margin-left: 290px; */
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2rem;
  letter-spacing: 1.5px;
}

p {
  font-family: 'Karma', serif;
  font-size: 0.9rem;
}
